<% unless user == current_user %>
	<% unless Relationship.exists?(following_id: user.id, follower_id: current_user.id) %>
		<%= link_to relationships_path(params: {following_id: user.id, info_user: info_user}), method: :post, remote: true do%>
		<h5>
		  <span class="badge badge-pill badge-info">
		  	<span class="follow-info-size">フォロー</span>
		  </span>
		</h5>
		<% end %>
	<% else %>
		<%= link_to relationship_path(user, params:{info_user: info_user}), method: :delete, remote: true do %>
		<h5>
		  <span class="badge badge-pill badge-danger">
		  	<span class="follow-info-size">フォロー解除</span>
		  </span>
		</h5>
		<% end %>
	<% end %>
<% else %>
	<h5>
    <span class="badge badge-pill badge-success">
    <span class="follow-info-size">ログインユーザー</span>
    </span>
  </h5>
<% end %>