</div>

<!-- width: 100% (.container-fluid)ここから -->
<div class="container-fluid" style="padding: 0;">
<div class="row">
  <div class="col-md-12">
    <div class="main-visual">
    </div>
  </div>
</div>
</div>



<style type="text/css">

.main-visual {
  background-image: url("<%= asset_path("mainvisual1.png") %>");
  height: 600px;
  background-size: cover;
  background-position: center;
}
</style>

<!-- width: 100% (.container-fluid)ここまで -->
<div class="container">