<br>
<div class="row">
  <div class="col-md-12 col-lg-3">
    <!-- md以上 -->
    <div class="d-md-block sticky">
      <%= render 'users/info', user: @user %>
    </div>
    <!-- sm以下 -->
    <div class="d-none ">
      <%= render 'users/info', user: @user %>
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
      <div class="row">
        <% @items.each_with_index do |item, i| %>
        <div class="col-lg-4 col-md-6">
        <%= render 'items/item_card', item: item %>
        </div>
        <% end %>
      </div>
  </div>
</div>

<style>
.sticky {
  position: -webkit-sticky;
  /* safari対応 */
  position: sticky;
  top: 10px;
  /* 上端から10pxのところで固定 */
}
</style>