/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


// ここからbootswatchのテーマ
@import "flatly/variables";
@import "bootstrap";
@import "flatly/bootswatch";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "*"; // これが無いとstylesheets内に個別のscssを読み込めない

// bootstrap補完
.text-white {
  color: #FFF;
}

.parent-f{
  position: relative;
  height: 400px;
}

.children-f{
  position: absolute;
  top: 50px;
  left: 0;
}

.children-f-text {
  position: absolute;
  bottom: 100px;
  left: 20px;
}

.children-f-button {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.parent-s{
  position: relative;
  height: 400px;
}

.children-s{
  position: absolute;
  bottom: 0;
}


.parent-t{
  position: relative;
  height: 400px;
  z-index: 100;
  text-align: center;
}

.children-t{
  position: absolute;
  bottom: 0;
  z-index: 200;
}

.search-form {
  width: 200px;
}


.sticky {
  position: -webkit-sticky; //safari用
  position: sticky;
  top: 10px;
}


.follow-info-size {
  font-size: 5px;
}

.z-index-100 {
	z-index: 100;
}

.z-index-200 {
	z-index: 200;
}

.z-index-1000 {
  z-index: 1000;
}

.link-font-light a {
	text-decoration: none;
	color: #FFF;
}

.link-font-dark a {
	text-decoration: none;
	color: #2C3E50;
}

.text-center {
	text-align: center;
}

.nav-user-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.user-card-user-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.user-card-user-intro {
	padding-top: 10px;
	font-size: 12px;
}

.user-card-record-title {
	color: white;
	font-size: 7px;
	text-decoration: none;
}

.user-card-record-count {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.user-card-intro-text {
	display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.item-card-item-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.item-card-user-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.item-card-username {
  font-size: 13px;
}

.item-show-item-image {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
}

.font-bold {
	font-weight: bold;
}


#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 50px;
  color: #2C3E50;
}

.pagination {
  justify-content: center;
}


